*{
    margin: 0;
    padding: 0;
}

.vide-1{
    background: url(../IMAGE/wavedown.png);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 55px;
}
.vide-2{
    background: url(../IMAGE/pattern.jpg);
    height: 100px;
}
.vide-3{
    background: url(../IMAGE/lines.png);
    height: 250px;
}

.nav{
    background: rgb(81, 131, 105);
    box-shadow: -8px -7px 1px #7FA293;
    color: white;
}
a{
    color: white !important;
}
a:hover{
    color: black !important;
}.nav-gauche{
    float: left;
}
.demi-rond{
    background: url(../IMAGE/demi-rond-1.png);
}
.nav-droite{
    float: right;
}