header{
    height: 100px;
    color:#B1B2B3;
    background: #1d1d1d;
    margin: 0 auto;
}
.titre{
    float: left;
    padding-top: 0.7%;
}
h1, h3{
    padding: 0 auto;
    margin: 0 auto;
    font-family: cursive;
}
h3{
    font-size: 12px;
}
.liens-header{
    height: 50%;
}
.nav {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    padding-top: 2%;
}
.nav-item {
    float: left;
    width: 25%;
}
.nav-item a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 16px 18px;
    background: black;
}

.nav-item a:hover {
    background: rgb(44, 39, 39);
}

.body{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    height: 1230px;
}
.AC1, .AC2, .AC3, .AC4{
   width: 231px;
   height: 226px;
   float: left;
   margin-left: 4px;
}
hr{
    width: 100%;
}
.IMG1, .IMG2, .IMG3{
    width: 28%;
    height: 50%;
    float: left;
    margin-left: 40px;
}
a{
    color: orangered;
    float: right;
}
#AC1, #AC2, #AC3, #AC4{
    width: 10%;
    height: 23px;
    margin-left: 141px;
}
#img1, #img2{
    float: left;
    width: 700px;
    margin-top: 10px;
}
.image1, .image2{
    float: left;
}

.categories{
    color: grey;
    font-size: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
}
#les-liens{
    margin-top: -155px;
    float: right;
    width: 230px;
}
#les-liens ul {
    list-style-image: url(../exo-29.11.2018/play-button.png);
}
#liens{
    
    margin-top: 10px;
    float: left;
}

#liens a {
    color: gray;
}

footer{
    height: 45px;
    color:#B1B2B3;
    background: #1d1d1d;
    margin: 0 auto;
}
#copyright{
    margin-top: 10px;
    padding: 0;
    width: 40%;
    float: left;
    text-align: right;
}
#templates{
    margin-top: 10px;
    padding: 0;
    width: 35%;
    float: right
}