body {
    width: 80%;
    margin: 10px auto;
    font-family: cursive;
}

#contenu {
    background: red;
    border: 2px solid black;
}

header,
footer {
    height: 80px;
    color: white;
    text-align: center;
    padding-top: 6px;
    background: #8e3557;
}

nav {
    height: 40px;
    color: white;
    padding-left: 20px;
    padding-top: 6px;
    background: #4a1a2c;
}

section {
    height: 500px;
    text-align: center;
    border: 20px solid white;
    background: #e6e2af;
}

.first{
    float: left;
    height: 50%;
    width: 50%;
    background: #4a1a2c;
    margin: 0;
    padding: 0;
    text-align: left;
}
.second{
    float: right;
    height: 50%;
    width: 50%;
    background: #787746;
    margin: 0;
    padding: 0;
    text-align: left;
}
.third{
    float: left;
    height: 50%;
    width: 50%;
    background: saddlebrown;
    margin: 0;
    padding: 0;
    text-align: left;
}
.quator{
    float: right;
    height: 50%;
    width: 50%;
    background: skyblue;
    margin: 0;
    padding: 0;
    text-align: left; 
}